#bucks{
    color:green

}

#warriors{

    color:rgb(33, 33, 154)
}

#suns{
    color:orange
}  

#Philly{
    color:darkblue
}


#griz{
    color:rgb(7, 60, 129)
}


#heat{
    color:rgb(153, 0, 0)
}

#celtics{
    color:rgb(2, 110, 2)
}

#mav{
    color:rgb(25, 67, 145)
}

#jazz{
    color: rgb(186, 186, 0)
}

#agree{
    color:green
}

#dont{
    color:red
}